# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Exclude Terraform state files
terraform.tfstate
terraform.tfstate.backup

# Exclude temporary files
/tmp/

# Exclude provisioner files
placeholder.txt

# Docker
app_code/backend/node_modules/